<div class="container">
  <div class="row">

    <div class="card ml-4" [class]="getCardColClass()" style="width: 18rem;">
      <img  src="https://images-na.ssl-images-amazon.com/images/I/512n3p9EpEL._AC_SX466_.jpg" class="card-img-top articleImage" alt="Bild" >
      <div class="card-body">
        <h5 class="card-title">Basketball von Spalding</h5>
        <p class="card-text">in Orange-Schwarz NBA</p>
        <p class="preis"> 149,95€</p>
        <a href="#" class="btn btn-primary">zum Warenkorb hinzufügen</a>
      </div>
    </div>

    <div class="card ml-4" [class]="getCardColClass()" style="width: 18rem;">
      <img src="https://cdn.sportshop.com/media/catalog/product/cache/stores/image/540x480/9df78eab33525d08d6e5fb8d27136e95/j/o/jordan-j000186561107_406673.jpg" class="card-img-top articleImage" alt="Bild">
      <div class="card-body">
        <h5 class="card-title">Basketball von Jordan</h5>
        <p class="card-text">in Rot-Weiß</p>
        <p class="preis"> 39,95€</p>
        <a href="#" class="btn btn-primary">zum Warenkorb hinzufügen</a>
      </div>
    </div>

  </div>
</div>